@model IEnumerable<PIS.DAL.Models.Worker>

@{
    ViewData["Title"] = "Available Workers";
}

<h1>Available Workers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workplace)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workplace.WorkplaceID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
